<div class="content">
	<h1>Statistiques</h1>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef> # </th>
			<td mat-cell *matCellDef="let element"> {{element.position}} </td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Pseudo </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<ng-container matColumnDef="seen">
			<th mat-header-cell *matHeaderCellDef> Vu </th>
			<td mat-cell *matCellDef="let element"> {{element.seen}} </td>
		</ng-container>

		<ng-container matColumnDef="creationDateTime">
			<th mat-header-cell *matHeaderCellDef> Première présence </th>
			<td mat-cell *matCellDef="let element"> {{element.creationDateTime}} </td>
		</ng-container>

		<ng-container matColumnDef="lastViewedDateTime">
			<th mat-header-cell *matHeaderCellDef> Dernière présence </th>
			<td mat-cell *matCellDef="let element"> {{element.lastViewedDateTime}} </td>
		</ng-container>

		<ng-container matColumnDef="uptimeTotal">
			<th mat-header-cell *matHeaderCellDef> Uptime (total) </th>
			<td mat-cell *matCellDef="let element"> {{element.uptimeTotal}} </td>
		</ng-container>

		<ng-container matColumnDef="uptimeMonth">
			<th mat-header-cell *matHeaderCellDef> Uptime (mois) </th>
			<td mat-cell *matCellDef="let element"> {{element.uptimeMonth}} </td>
		</ng-container>

		<ng-container matColumnDef="uptimeDay">
			<th mat-header-cell *matHeaderCellDef> Uptime (jour) </th>
			<td mat-cell *matCellDef="let element"> {{element.uptimeDay}} </td>
		</ng-container>

		<ng-container matColumnDef="messageCountTotal">
			<th mat-header-cell *matHeaderCellDef> Messages (total) </th>
			<td mat-cell *matCellDef="let element"> {{element.messageCountTotal}} </td>
		</ng-container>

		<ng-container matColumnDef="messageCountMonth">
			<th mat-header-cell *matHeaderCellDef> Messages (mois) </th>
			<td mat-cell *matCellDef="let element"> {{element.messageCountMonth}} </td>
		</ng-container>

		<ng-container matColumnDef="messageCountDay">
			<th mat-header-cell *matHeaderCellDef> Messages (jour) </th>
			<td mat-cell *matCellDef="let element"> {{element.messageCountDay}} </td>
		</ng-container>

		<ng-container matColumnDef="bitsTotal">
			<th mat-header-cell *matHeaderCellDef> Bits (total) </th>
			<td mat-cell *matCellDef="let element"> {{element.bitsTotal}} </td>
		</ng-container>

		<ng-container matColumnDef="bitsMonth">
			<th mat-header-cell *matHeaderCellDef> Bits (mois) </th>
			<td mat-cell *matCellDef="let element"> {{element.bitsMonth}} </td>
		</ng-container>

		<ng-container matColumnDef="bitsDay">
			<th mat-header-cell *matHeaderCellDef> Bits (jour) </th>
			<td mat-cell *matCellDef="let element"> {{element.bitsDay}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

</div>
