.container {
  font-family: 'myriad-pro', sans-serif;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  width: 400px;
}

.centered {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  display: inline-block;
}

.text {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.color {
  color: #ff99ff;
}

.show-item {
  animation: show-item-anim 5s;
}

.hide-item {
  animation: hide-item-anim 1s;
}

@keyframes show-item-anim {
  2% {
    opacity: 0.1;
  }

  4% {
    opacity: 0.2;
  }

  6% {
    opacity: 0.3;
  }

  8% {
    opacity: 0.4;
  }

  10% {
    opacity: 0.5;
  }

  12% {
    opacity: 0.6;
  }

  14% {
    opacity: 0.7;
  }

  16% {
    opacity: 0.8;
  }

  18% {
    opacity: 0.9;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  82% {
    opacity: 0.9;
  }

  84% {
    opacity: 0.8;
  }

  86% {
    opacity: 0.7;
  }

  88% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.5;
  }

  92% {
    opacity: 0.4;
  }

  94% {
    opacity: 0.3;
  }

  96% {
    opacity: 0.2;
  }

  98% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}
