<div class="buttons">
  <div class="buttonstitle">
    <div class="button1title">
      {{buttons[0].title}}
    </div>
    <div class="button2title">
      {{buttons[1].title}}
    </div>
  </div>
  <div class="buttonsvalue">
    <div class="button1valuecontainer">
      <div id="button1" class="button1value">
        {{buttons[0].value}}
      </div>
    </div>
    <div class="button2valuecontainer">
      <div id="button2" class="button2value">
          {{buttons[1].value}}
        </div>
    </div>
  </div>
</div>
