<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  autoReload="true"
	  internalLogLevel="Off">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="appName" value="WebApp"/>
	<variable name="logPath" value="c:\logs"/>
	<!-- the targets to write to -->
	<targets>
		<!-- Logs for local debug -->
		<target type="AsyncWrapper" name="asyncLogsFile">
			<target type="File" name="logsFile" fileName="${logPath}\current.txt"
					layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=type,message}"
					archiveFileName="${logPath}\${shortdate}.log"
					archiveNumbering="DateAndSequence"
					archiveEvery="Day"
					archiveDateFormat="yyyy-MM-dd"
					archiveOldFileOnStartup="false"
					maxArchiveFiles="5"/>
		</target>

		<target type="AsyncWrapper" name="asyncExceptionsFile">
			<target type="File" name="exceptionsFile" fileName="${logPath}\exceptions\${longdate}.txt"
					layout="========== Exception stack trace ==========${newline}${exception:format=tostring}${newline}${newline}"
					maxArchiveFiles="20" />
		</target>

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- Logs start/stop of the application -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="asyncLogsFile" />

		<!-- Logs for local debug -->
		<logger name="WebApp.*" minlevel="Info" writeTo="asyncLogsFile" />
		<logger name="*" minlevel="Warn" writeTo="asyncLogsFile" />

		<!-- exceptions details are logged in individual files -->
		<logger name="*" minlevel="Warn" writeTo="asyncExceptionsFile" final="true">
			<filters defaultAction='Log'>
				<when condition="length('${exception}') = 0" action="Ignore" />
			</filters>
		</logger>

	</rules>
</nlog>